.filters {
  display: flex;
  justify-content: space-between;
  margin-block: 0.5rem 1rem;
  font-size: 1.4rem;
}

.button {
  padding: 0.2rem;
  cursor: pointer;
}

.active {
  color: rgb(12, 139, 139);
  text-decoration: underline;
}
